

.poke-card {
    background-color: rgb(32, 30, 30);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(147, 144, 144);
    background-size: cover;
}

.poke-card img {
    width: 50%;
}

.attack {
    background-color: rgb(146, 36, 36);
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(3, 3, 3);
}