.character-container {
  align-self: center;
  margin-top: 220px;
  transition: 2s;
}

.character-container img {
  width: 250px;
}

@media (max-width: 500px) {
  .character-container {
   position: absolute;
    bottom: 58px;
    left: 70px;
  }
}
