.food-area {
  height: 100%;
  width: 100%;
  background-color: rgb(74 73 86);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-previous-next {
  display: none;
}

.food-img {
  pointer-events: none;
}

.food {
  cursor: pointer;
}

.carousel-item {
  width: 590px;
}
