footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin-top: auto;
  height: 80px;
  width: 100%;
}

.food-btn {
  width: 90px;
}

.games-btn {
  width: 60px;
}

.syringe-btn {
  width: 50px;
}

footer img {
  cursor: pointer;
}
